@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* If the image is meant to be aligned block-level with the text, use this selector... */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

/* In all cases, also include the below styles */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}